.hero-bg {
  /* position: absolute; */
  /* background-color: ora; */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(hero.jpg);
  /* background image setup */
  height: 125vh;
}

/* ***************************** */
/* HEADER */
/* ***************************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Because we want header to be sticky later */
  /* height: 9.6rem;
   padding: 0 4.8rem; */

  position: relative;
  /* background-color: black; */
  padding: 0 6.4rem;
}

a .logo {
  height: 10rem;
  padding-top: 2rem;
}

/* ***************************** */
/* NAVIGATION */
/* ***************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

/* ***************************** */
/* HERO SECTION */
/* ***************************** */

.hero-sec {
  position: relative;
}

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 64rem;
  padding-left: 3.2rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  max-width: 55rem;
  margin-bottom: 4.8rem;
  letter-spacing: 0.1rem;
}

.btn-start {
  align-self: flex-start;
}

/* ***************************** */
/* WHY SECTION */
/* ***************************** */

.section-why {
  padding: 9.6rem 0;
}

.why--title-descrptn {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* 
.why-title {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #fff;
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;

} */

.why-description {
  font-size: 1.8rem;
  padding: 0 24rem;
  line-height: 1.6;
  margin-bottom: 8rem;
}

.why-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.col-1 {
  padding-left: 1.6rem;
}
.col-3 {
  padding-right: 1.6rem;
}

.why-feature {
  display: grid;
  row-gap: 4.8rem;
}

.row-1,
.row-2 {
  display: flex;
  flex-direction: column;
}

.feature-icon {
  font-size: 3rem;
  margin-bottom: 1.8rem;
  background-color: #e67e22;
  height: 4rem;
  width: 4rem;
  padding: 1.2rem;
  border-radius: 65%;
}

.why--feature-heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.why--feature-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* ***************************** */
/* COURSES SECTION */
/* ***************************** */

.courses-info {
  padding: 8rem 0 9.6rem 0;
  position: relative;
}

.courses-bg {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(classes-bg-img.jpg);
  height: 190vh;
}

/* .course-heading {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #fff;
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;

  text-align: center;
} */

.types--of-course {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}

.courses {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
}

.courses-img img {
  display: block; /* To remove space b/w images  */
  width: 100%;
}

.course-details {
  display: grid;
  padding: 3.2rem 1.6rem 2.4rem 1.6rem;
}

.course-title {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

.course-description {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.course-btn,
.course-btn:link,
.course-btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.4rem 2.4rem;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 600;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;

  background-color: #e67e22;
  color: #fff;
  transition: all 0.3s;
  justify-self: end;
  margin-right: 2rem;
}

.course-btn:hover,
.course-btn:active {
  background-color: #cf711f;
  color: #fff;
}

/* ***************************** */
/*TESTIMONIAL SECTION */
/* ***************************** */

/* .testimonial .subheading .db-left::before {
  position: absolute;
  top: 0.2rem;
  left: -1.6rem;
  width: 0.5rem;
  height: 1.8rem;
  content: '';
  background: #e67e22;
} */

.section-testimonial {
  padding: 9.6rem 0;
  position: relative;
}

.testimonial {
  display: grid;
  justify-content: center;
}
.testimonial .heading-secondary,
.testimonial .subheading {
  text-align: center;
}

/* .testimonial-heading {
  font-size: 5.2rem;
  text-align: center;
  margin-bottom: 6.4rem;
} */

.all-cstmr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.customer {
  display: flex;
  flex-direction: column;
  padding: 4.8rem 2.4rem;
}

.cstmr-dscrptn {
  font-size: 1.6rem;
  padding: 0 0 0.4rem 2.4rem;
  margin-bottom: 2.4rem;
  line-height: 1.8;
  border-left: 2px solid #fff;
}

.cstmr-img {
  height: 11rem;
  width: 11rem;
  border-radius: 70%;
}

.ph-fill {
  display: flex;
  position: relative;
  font-size: 1.6rem;
  color: #e67e22;
  width: 4rem;
  height: 4rem;
  transform: scale(-1, -1);
  bottom: 4rem;
  right: -8rem;
  background-color: rgb(37, 36, 36);
  justify-content: center;
  align-items: center;
  border-radius: 70%;
}

.cstmr-info {
  display: flex;
}

.bnc {
  /* align-self: center; */
  margin-left: 3.2rem;
  margin-top: 3rem;
}

.cstmr-name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.cstmr {
  font-size: 1.3rem;
  color: #bfbfbf;
}

.dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 15rem;
  transform: translate(-50%, 3.2rem);
  gap: 1.2rem;
}

.dot {
  height: 12px;
  width: 12px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  cursor: pointer;
}

.dot1 {
  background-color: #e67e22;
}

/* ***************************** */
/*PRICING SECTION */
/* ***************************** */

.pricing-info {
  padding: 9.6rem 3.2rem;
  max-width: 140rem;
  margin: 0 auto;
}

.pricing-sub {
  display: grid;
  justify-content: center;
}

.pricing-sub .subheading {
  justify-self: center;
}
.pricing-bg {
  position: relative;
  /* background-color: ora; */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(pricing-bg.jpg);
  /* background image setup */
  height: 165vh;
}

.pricing {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 1.2rem;
  text-align: center;
}

.types--pricing-plan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.pricing-plan {
  padding: 4.8rem;
  background-color: rgba(34, 34, 34, 0.7);
  border-radius: 1.1rem;
}

.plan-header {
  margin-bottom: 4.8rem;
}

.lists {
  list-style: none;
  font-size: 1.8rem;
}
.list-item {
  display: flex;
  margin-bottom: 3.2rem;
  gap: 1.2rem;
  line-height: 1.6;
}

.plan-name {
  font-size: 2.8rem;
  margin-bottom: 1.6rem;
  text-align: center;
  color: #cf711f;
}

.plan-price {
  font-size: 6rem;
  font-weight: 600;
}

.plan-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.plan--sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.list-icon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
}

.pricing-plan--complete {
  background-color: #101010 !important;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: 'Best Value';
  position: absolute;
  top: 4%;
  right: -16%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd700;
  padding: 1rem 8rem;
  transform: rotate(45deg);
}
